name: Init OCI

on:
  workflow_dispatch:

jobs:
  init-backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Git credentials
      uses: fregante/setup-git-user@v2
      with:
        name: github-actions
        email: actions@github.com

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip jq unzip
        pip3 install oci-cli

    - name: Configure OCI CLI
      env:
        OCI_PRIVATE_KEY: ${{ secrets.OCI_PRIVATE_KEY }}
      run: |
        mkdir -p ~/.oci
        echo "${OCI_PRIVATE_KEY}" > ~/.oci/oci_api_key.pem
        chmod 600 ~/.oci/oci_api_key.pem

        cat > ~/.oci/config <<EOF
        [DEFAULT]
        user=${{ secrets.OCI_USER_OCID }}
        fingerprint=${{ secrets.OCI_FINGERPRINT }}
        key_file=~/.oci/oci_api_key.pem
        tenancy=${{ secrets.OCI_TENANCY_OCID }}
        region=${{ secrets.OCI_REGION }}
        EOF

    - name: Run init script
      env:
        OCI_COMPARTMENT_NAME: ${{ vars.OCI_COMPARTMENT_NAME }}
        OCI_BUCKET_NAME: ${{ vars.OCI_BUCKET_NAME }}
      run: ./init.sh