name: Pre-Commit Checks

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'SECURITY.md'
      - 'LICENSE'

permissions:
  contents: read

env:
  TERRAFORM_VERSION: 1.12.2

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

      - name: Install pre-commit
        run: pip install pre-commit==4.2.0

      - name: Install tflint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/v0.58.1/install_linux.sh | bash

      - name: Install checkov
        run: pip install checkov==3.2.457

      - name: Run blocking pre-commit hooks
        env:
          SKIP: no-commit-to-branch
        run: |
          pre-commit run --config .pre-commit-config-checks.yaml --all-files
