name: Pre-Commit Hooks

on:
  merge_group:
  pull_request:

permissions:
  contents: write

env:
  TERRAFORM_VERSION: 1.12.2

jobs:
  pre-commit:
    name: Pre-Commit Hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Fetch all branches
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@v3

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Install terraform-docs
        run: |
          curl -Lo ./terraform-docs.tar.gz https://github.com/terraform-docs/terraform-docs/releases/download/v0.20.0/terraform-docs-v0.20.0-$(uname)-amd64.tar.gz
          tar -xzf terraform-docs.tar.gz
          chmod +x terraform-docs
          mv terraform-docs /usr/local/bin/terraform-docs

      - name: Install tflint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

      - name: Install checkov
        run: pip install checkov

      - name: Run fixable pre-commit hooks
        env:
          SKIP: no-commit-to-branch
        run: |
          pre-commit run terraform_fmt terraform_docs end-of-file-fixer trailing-whitespace --all-files || true

      - name: Check for changes from pre-commit (autofixes)
        id: precommit_changes
        run: |
          git diff --quiet || echo "changed=true" >> "$GITHUB_OUTPUT"

      - name: Push autofixes
        if: steps.precommit_changes.outputs.changed == 'true'
        uses: EndBug/add-and-commit@v9.1.4
        with:
          default_author: github_actor
          message: '[pre-commit] Autofix violations'

      - name: Run blocking pre-commit hooks
        env:
          SKIP: no-commit-to-branch
        run: |
          pre-commit run terraform_tflint terraform_validate terraform_checkov check-merge-conflict --all-files