name: Pre-Commit Docs

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

env:
  TERRAFORM_VERSION: 1.12.2

jobs:
  pre-commit-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0

      - name: Install pre-commit
        run: pip install pre-commit==4.2.0

      - name: Install terraform-docs
        run: |
          curl -Lo ./terraform-docs.tar.gz https://github.com/terraform-docs/terraform-docs/releases/download/v0.20.0/terraform-docs-v0.20.0-$(uname)-amd64.tar.gz
          tar -xzf terraform-docs.tar.gz
          chmod +x terraform-docs
          mv terraform-docs /usr/local/bin/terraform-docs

      - name: Run fixable pre-commit hooks
        env:
          SKIP: no-commit-to-branch
        run: |
          pre-commit run --config .pre-commit-config-docs.yaml --all-files || true

      - name: Check for changes from pre-commit (autofixes)
        id: precommit_changes
        run: |
          git diff --quiet || echo "changed=true" >> "$GITHUB_OUTPUT"

      - name: Push autofixes
        if: steps.precommit_changes.outputs.changed == 'true'
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actor
          message: '[pre-commit] Autofix violations'
          push: origin HEAD:${{ github.head_ref }}
